@use "./assets/sass/include.scss";

.attribution {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
  background-color: black;
  color: white;
  padding-top: 0.3vw;
  & a {
    color: white;
  }
}

html {
  font-family: "Spartan", sans-serif;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-size: 0.8vw;
  background-color: black;
  height: 100%;
}

#darkness {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  &.change {
    display: initial;
  }
}
